
<head>
    <link rel="stylesheet" href="../CSS/index.css">
</head>
<div class="container">
    <h3>Contato</h3>
    <div class="contato">
        <img src="../img/identidade/gsesolucoeslogo-melhorada.png" alt="Logo GSE Soluções">
        <ul>
            <li><strong>Email: </strong><a href="mailto:lucas9360@gmail.com" target="_blank">gsesolucoes@mail.com</a></li>
            <li><strong>Telefone: </strong><a href="tel:(99)999999999" target="_blank">(61)99872-2375</a></li>
            <li><strong>Instagram: </strong><a href="https://www.instagram.com/gsesolucoeslza/" target="_blank" >@gsesolucoeslza</a></li>
        </ul>
    </div>
    <h4 style="text-align: left;">Localização: </h4>
    <p style="text-align: left;">Avenida Sérgio Buarque de Holanda, Qd. 192, lote 11, loja 03, Parque Estrela
        Dalva III, Luziânia, Goias, Brazil 72831120</p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15322.38293027716!2d-47.91600563684751!3d-16.241210101413852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9359979935708367%3A0x641567211c481642!2sParque%20Estrela%20Dalva%20III%2C%20Luzi%C3%A2nia%20-%20GO!5e0!3m2!1spt-BR!2sbr!4v1730291887302!5m2!1spt-BR!2sbr"
        width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
