
#produtos {
    padding: 40px 0;
    background-color: #f9f9f9;
}

#produtos h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #003399;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.produto h4 {
    padding: 15px;
    font-size: 18px;
    color: #003399;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato img{
    width: 30%; 
    height: auto; 
    margin-right: 10px; 
}

.contato ul {
    align-items: left;
    padding: 0;
    margin: 0;
}

.contato li {
    margin: 5px 0;
}

.contato a {
    text-decoration: none;
    color: #007BFF;
}

.contato a:hover {
    text-decoration: underline;
}

footer {
    background-color: #002266;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-top: 10px;
    font-size: 1rem;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#ofertas {
    width: 100%;
}

.container .oferta {
    width: 100%;
}

.container-ofertas {
    width: 100%;
    overflow: hidden;
}

.ofertas-grid {
    display: flex;
    overflow: visible;
    width: 100%;
    animation: rotate 5s linear infinite;
    margin: 10px;
    margin-left: 0;
    padding: 0;
    border-radius: 4px;
}

.container-ofertas h3 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.oferta {
    flex: 0 0 33.66%; 
    padding: 5px;
}

.oferta img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.oferta img:hover {
    transform: scale(1.1);
    z-index: 1;
    border: 2px white;
}

@keyframes rotate {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


.ofertas-grid:hover {
    animation-play-state: paused;
}


.oferta h4 {
    margin-top: 10px;
    color: #003399;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.oferta {
    min-width: 50%;
    box-sizing: border-box;
    z-index: 1;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}
